@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
    background: #272A2B;
    color: #F3F2F2;
    font-family: 'Indie Flower', cursive;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreboard {
    text-align: right;
    width: 100%;
    margin-bottom: 2em;
}


.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:400px;
    height:400px;

    margin:  0 auto;
}

.box {
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:nth-child(-n + 6) {
    border-bottom: 2px solid #F3F2F2;
}

.box:nth-child(3n-8), .box:nth-child(3n-7) {
    border-right: 2px solid #F3F2F2;
}

.box:hover {
    opacity:.5;
}

.mark {
    display: block;
    font-size: 52px;
}

